@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>
<div class="row">
    <div class="col-lg-5 mt-3 text-center">
        <img class="img-fluid" src="~/images/hds.JPG" alt="home design solutions" />
    </div>
    <div class="col-lg-7 mt-3">
        <p>
            HDS started as a remodelling effort by Emily and her husband Joe back in May 2007. They had contracted to do work for some
            family and friends that wanted to upgrade their existing homes (bathrooms and kitchens are their speciality). This included
            providing design work, and upgrades to kitchens and baths. Emily and Joe quickly determined that there was a tremendous need
            for this service in the greater Phoenix/Scottsdale, AZ area. They applied for a business license and opened Home Design Solutions
            as an LLC out of a small store location they rented at 101 Sedalia Drive, Phoenix, AZ 85001. The first store location included
            some sample cabinets and appliances that they would later become regional distributors for. Both Joe and Emily became General
            Contractors in 2007 and all of their bath and kitchen design specialists that have been hired since have acquired kitchen
            and bath design certifications.
        </p>
    </div>
</div>
<div class="mt-3">
    <p>
        They saw rapid growth for their company and hired 2 sales associates to help with the increased demand and 3 cabinet,
        appliance and bathroom installers and offer delivery services if needed. They added 2 more employees one to keep track
        of appointments and to schedule the work of the installers and renovators. The other employee helped with deliveries
        and warehousing (they have a very limited warehouse and cannot stock items for more than 2-3 weeks). They became so
        busy with their construction, design and consultation services and trying to run a successful small business that they
        hired a design/sales professional to take over much of their design work. In 2009 they opened a second location at 901 S.
        Sedona Way, Scottsdale, AZ. This was a much smaller location and included only 4 employees (2 sales and design associates
        and 2 installation/renovation and delivery associates). Since that time the Scottsdale location has added 2 more
        installation/renovation and delivery associates, 1 office manager and 1 store manager that could also do sales and design work.
        This all took place between 2009 and 2011. In 2012 they opened their third location in Tucson, AZ. This store was in a strip mall at
        8023 Sedalia Dr., Phoenix, AZ. They followed the same pattern as the Scottsdale location hired all the employees at one time
        (7 employees’ total, similar to the Scottsdale location). Their latest endeavor, June 2016 was the purchase of 2 existing
        stores that are out of state. One of the stores specializes in high-end appliances and bathrooms located in Las Vegas,
        NV – Elite Home Renovations; and the other site is a typical home supply store located in Albuquerque, NM– IRB Home Supply.
    </p>
</div>
<div class="text-center">
    <h3 class="m-3">Locations</h3>
    <div class="row">
        <div class="col-md-4 p-5">
            <img src="~/images/phoenix.png" class="img-fluid" alt="Phoenix, AZ" />
        </div>
        <div class="col-md-2 p-2 d-flex align-items-center">
            <p class="font-weight-bold">Phoenix, AZ</p>
        </div>
        <div class="col-md-4 p-5">
            <img src="~/images/scottsdale.png" class="img-fluid" alt="Scottsdale, AZ" />
        </div>
        <div class="col-md-2 p-2 d-flex align-items-center">
            <p class="font-weight-bold">Scottsdale, AZ</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 p-5">
            <img src="~/images/tuscan.png" class="img-fluid" alt="Tuscan, AZ" />
        </div>
        <div class="col-md-2 p-2 d-flex align-items-center">
            <p class="font-weight-bold">Tuscan, AZ</p>
        </div>
        <div class="col-md-4 p-5">
            <img src="~/images/las vegas.png" class="img-fluid" alt="Las Vegas, NVZ" />
        </div>
        <div class="col-md-2 p-2 d-flex align-items-center">
            <p class="font-weight-bold">Las Vegas, NV</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 p-5 ">
            <img src="~/images/albuquerque.png" class="img-fluid" alt="Albuquerque, NM" />
        </div>
        <div class="col-md-2 p-2 d-flex align-items-center">
            <p class="font-weight-bold">Albuquerque, NM</p>
        </div>
    </div>
</div>