@{
    ViewData["Title"] = "FAQ";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Frequently Asked Questions</h1>
    </div>
    <div>
        <div class="accordion" id="accordionFAQ">
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How much will my cabinets cost?
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
                    <div class="card-body">
                        Cabinets vary dramatically in price just like cars or houses. Entry-level cabinets are less expensive than cabinets with special
                        finishes and upgraded storage features. HDS provides cabinetry that fits most any budget-from basic to bold.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How long will it take to get the cabinets I order?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
                    <div class="card-body">
                        Order time varies depending on the manufacturer and the complexity of the job. The minimum time is roughly three weeks
                        and can be as much as eight weeks during peak times of the year.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Can you design my kitchen from a sketch of the room that I provide?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
                    <div class="card-body">
                        We can certainly start with a sketch you provide. Your forethought in doing some homework can shorten the time needed to
                        design the final layout. However, we will always do our own measurements to verify that the design will actually work.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            What is the best type of countertop for the kitchen?
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
                    <div class="card-body">
                        There are many possible countertop choices. As with cabinets, your budget needs to be matched with your desire for
                        flexibility of design and product longevity. Laminate, solid surface, quartz-enhanced and granite are all good choices.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                            Can you match my existing cabinets or furniture?
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFAQ">
                    <div class="card-body">
                        All woods and stains change color over time-some more so than others. In many cases, HDS can find cabinetry that may be
                        compatible with your existing cabinets or furniture. In no case can we guarantee an exact match.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                            What construction features should I look for when choosing cabinets?
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionFAQ">
                    <div class="card-body">
                        Certain construction features are a sign of quality cabinets. A savvy consumer will look for things such as finished backs
                        in all cabinets, drawer guides that also support the drawer bottom, conversion varnish (not lacquer) finishes, multi-way
                        adjustable hinges, adjustable shelves, and a wide range of heights and depths. Newer convenience features include "soft-close"
                        hinges and drawers, multi-function drawer systems, and optional task lighting.
                        <br />
                        Be sure to check for the KCMA (Kitchen Cabinet Manufacturers Association) label, a certification that the cabinets meet
                        construction standards designed to ensure many years of trouble-free service.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                            What are the most popular types of cabinets?
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionFAQ">
                    <div class="card-body">
                        While popular cabinet styles and trends vary from year to year, traditional raised-panel oak styling is always a favorite
                        due to affordability and durability. A current trend is a "stand-alone" furniture look that allows for highly customized
                        design features using cabinetry from major manufacturers.
                        <br />
                        Besides oak, certain wood species tend to be favored by today's consumers. Maple is frequently used in remodeling because
                        of its clean look and its ability to blend in with most existing finishes. Cherry has become increasingly popular as
                        manufacturers have developed a variety of finishes allowing it to work in more applications.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingEight">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                            Are environmentally "green" cabinets available at a reasonable price?
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionFAQ">
                    <div class="card-body">
                        HDS represents several manufacturers across the price spectrum whose cabinets are certified under the Environmental
                        Stewardship Program developed by the KCMA (Kitchen Cabinet Manufacturers Association).
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingNine">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                            What's the difference between manufactured cabinets and custom-made cabinets?
                        </button>
                    </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionFAQ">
                    <div class="card-body">
                        Years ago there was a significant difference in the sizes and finishes available from "custom" cabinetmakers and the
                        "stock" manufacturers. Today, many cabinet manufacturers offer custom sizing and finishes that rival, and may even exceed,
                        the possibilities of a local custom cabinet shop.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingTen">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                            Do you charge a design fee, measure fee or other fees in addition to the contract price for cabinets and installation?
                        </button>
                    </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionFAQ">
                    <div class="card-body">
                        HDS does not charge a measure fee or a design fee for a first design or estimate. In some cases, where multiple design revisions
                        are requested, a design retainer may be requested. That retainer is then credited in full to the final cost of the job.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingEleven">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
                            Do you do major remodeling?
                        </button>
                    </h2>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionFAQ">
                    <div class="card-body">
                        HDS specializes in "light" kitchen, office, or laundry room remodeling. We have strong working relationships with several quality,
                        full-line remodeling firms for those jobs that require major structural renovation.
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-transparent" id="headingTwelve">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
                            Do you provide cabinets for remodeling only, or also for new construction?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionFAQ">
                    <div class="card-body">
                        HDS works with a number of reputable remodelers and can provide cabinets through your contractor or directly to you
                        for your kitchen or bath remodeling project or room addition. We also work with many custom home builders, who consult
                        with our designers to assure that the layouts for kitchen cabinets, bath cabinets, laundry room cabinets and other
                        cabinetry are chosen to properly fit the budget and space. We will coordinate directly with your builder and also
                        consult directly with you.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>