@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <img class="img-fluid" src="/images/banner.png" alt="Banner for home page" />
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
    <p>fill</p>
</div>
