@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="home-banner">
        <img src="/images/banner.png" alt="Banner for home page" />
        <a class="btn">Start Today!</a>
    </div>
    <main>
        <h2>Shop by categories</h2>
        <section class="preview">
            <div class="preview-content">
                <img src="~/images/products/GEMicrowave.jpg" alt="Image of GE Microwave" />
                <h4>Small Appliances</h4>
            </div>
        </section>
    </main>
</div>
