@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <img class="img-fluid" src="/images/banner.png" alt="Banner for home page" />
    </div>

    <div class="text-center mt-3">
        <h1 class="hero mt-3"><a href="#contact-us">GET STARTED TODAY!</a></h1>
        <h3 class="sub-hero d-none d-sm-block mt-3">Remodel your home to the perfect home for you.</h3>
    </div>
</div>
<div class="container-fluid row no-gutters mt-5 mb-5">
    <div class="col p-2 d-none d-sm-block"><img class="img-fluid" src="~/images/index1.jpg" alt="hds sample 1" /></div>
    <div class="col p-2 d-none d-sm-block"><img class="img-fluid" src="~/images/index2.jpg" alt="hds sample 2" /></div>
    <div class="col p-2 d-none d-sm-block"><img class="img-fluid" src="~/images/index3.jpg" alt="hds sample 3" /></div>
    <div class="col p-2 d-none d-sm-block"><img class="img-fluid" src="~/images/index5.jpg" alt="hds sample 5" /></div>
    <div class="col p-2 d-none d-sm-block"><img class="img-fluid" src="~/images/index6.jpg" alt="hds sample 6" /></div>
    <div class="col p-2"><img class="img-fluid" src="~/images/index7.jpg" alt="hds sample 7" /></div>
</div>
<div class="container">
    <div class="m-2">
        <h2 class="pb-3 p1-5">Services and Fees</h2>
        <hr />
        <div class="row p1-5">

            <div class="col-md-3">
                <p class="font-weight-bold">Design Fees</p>
            </div>
            <div class="col-md-6">
                <p>$100 per hour | minimum of $500 per job (includes onsite visits)</p>
            </div>

        </div>
        <div class="row p1-5">

            <div class="col-md-3">
                <p class="font-weight-bold">Installations of Cabinets</p>
            </div>
            <div class="col-md-6">
                <p>$75 per hour | minimum of $750 per kitchen</p>
            </div>

        </div>
        <div class="row p1-5">

            <div class="col-md-3">
                <p class="font-weight-bold">Re-facing Cabinets</p>
            </div>
            <div class="col-md-6">
                <p>$75 per hour | minimum of $750 per kitchen</p>
            </div>

        </div>
        <div class="row p1-5">

            <div class="col-md-3">
                <p class="font-weight-bold">Plumbing Work</p>
            </div>
            <div class="col-md-6">
                <p>$85 per hour | minimum of $500 per kitchen</p>
            </div>

        </div>
        <div class="row p1-5">

            <div class="col-md-3">
                <p class="font-weight-bold">Electrical Work</p>
            </div>
            <div class="col-md-6">
                <p>$85 per hour | minimum of $500 per kitchen</p>
            </div>

        </div>
        <div class="row p1-5">

            <div class="col-md-3">
                <p class="font-weight-bold">Painting / Wallpaper Work</p>
            </div>
            <div class="col-md-6">
                <p>
                    Contracted to outside painting contractor (AZ Design) |
                    They charge a minimum of $500 to paint a kitchen and $40 per hour to hang wallpaper. |
                    The client meets with the sub-contractor for details.
                </p>
            </div>

        </div>
        <div class="row p1-5">

            <div class="col-md-3">
                <p class="font-weight-bold">General Construction Work</p>
            </div>
            <div class="col-md-6">
                <p>
                    Moving walls, sheetrock, framing, windows, etc. |
                    Some of this work is contracted out if needed |
                    Normal charges are $60 per hour for labor.
                </p>
            </div>

        </div>
        <div class="row p1-5">

            <div class="col-md-3">
                <p class="font-weight-bold">Deliveries</p>
            </div>
            <div class="col-md-6">
                <p>
                    $50 minimum on 1st piece then $25 for each extra piece. |
                    Large items will incur a $100 surcharge for delivery. |
                    Any installations will be charged at the standard hourly rate of $85 per hour.
                </p>
            </div>

        </div>
    </div>
    <div id="contact-us" class="m-2">
        <h2 class="pb-3 p1-5">Contact Us</h2>
        <hr />
        <div class="row p1-5">
            <div class="col-md-4">
                <p>Speak with a specialist today for any questions or consultation for your home.</p>
                <p><span class="font-weight-bold">Phone: </span>603-KITCHEN (548-2436)</p>
                <p><span class="font-weight-bold">Email: </span>homedesignsolutions@hds.com</p>
                <p> <span class="font-weight-bold">Home Design Solutions</span><br />101 Sedalia Dr.<br/>Phoenix, AZ 85001</p>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="customerName" placeholder="Name*" required />
                        <div class="invalid-feedback">
                            Please provide a name.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="customerPhoneNumber" placeholder="Phone Number*" required />
                        <div class="invalid-feedback">
                            Please provide a phone number.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="customerEmail" placeholder="Email*" required />
                        <div class="invalid-feedback">
                            Please provide an email address.
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="customerMessage" placeholder="Message" rows="3"></textarea>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>