/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	background-color: #FBF0CF;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  line-height: 30px; /* Vertically center the text there */
}
footer ul {
	display: inline-flex;
    text-decoration: none;
    list-style: none;
}
footer ul li {
	margin-left: 15px;
}
footer ul li a {
	text-decoration: none;
	color: black;
}

/* Home Services */
.home-banner {
	width: 50%;
	text-align: center;
}
.home-banner img {
	width: 80%;
	height: auto;
	display: block;
	margin: 0 60% 0;
}

/*.home-banner .btn {
	position: absolute;
	top: 20%;
	left: 61%;
	background-color: rgba(139, 0, 0, 0.8);
	color: white;
	font-size: 18px;
	padding: 1% 1.5%;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}
.home-banner .btn:hover {
	border: solid 2px black;
	background-color: #cc0000;
} */
.preview {
	display: flex;
	text-align: center;
}
.preview-content {
	padding: 1%;
	width: 260px;
	text-align: center;
}
.preview img {
	width: 12.5em;
	height: 16em;
	overflow: hidden;
}